header {
    background: orange;
}
header h1 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
header h1 > span {
    display: block;
    font-size: 20px;
    padding: 10px;
}
header p {
    background: lightgray;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}